<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tyrion - about</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.jpg">
  </head>
  <body>
    <nav>
      <a href="/home">Home Page</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="/gallery">Gallery</a>
    </nav>
    <h1>Información sobre mi</h1>
    <p id="paragraph">Bien, querido interlocutor, si pudiera ser Tyrion Lannister, permíteme presentarme. Soy Tyrion, miembro de la influyente Casa Lannister en los Siete Reinos de Westeros. Desde que tengo memoria, he vivido con el desafío de ser diferente debido a mi baja estatura. A menudo me llaman "el Gnomo" o "el Duende", pero he aprendido a abrazar mi singularidad y usar mi inteligencia y astucia para sobrevivir en un mundo lleno de intrigas y peligros.
        <br>
        <br>
        A lo largo de mi vida, he tenido que enfrentar la desaprobación y el desprecio de algunos miembros de mi propia familia, especialmente de mi padre, Tywin Lannister, y de mi hermana Cersei. Sin embargo, he forjado una conexión especial con mi hermano Jaime, quien ha sido mi aliado en tiempos difíciles.
        <br>
        <br>
        Mi sentido del humor y mi habilidad para usar palabras como armas me han ayudado a sortear las numerosas situaciones peligrosas y políticas en las que me he visto envuelto. Aunque muchos subestiman mi capacidad debido a mi apariencia, he demostrado ser un jugador político competente y he ocupado posiciones de gran poder, como la Mano del Rey y la Mano de la Reina.
        <br>
        <br>
        A lo largo de mi viaje, he conocido a una amplia variedad de personajes, algunos de los cuales se han convertido en verdaderos amigos y aliados. He sido testigo de la traición, la lealtad, el amor y la pérdida en carne propia, lo que me ha permitido aprender valiosas lecciones sobre la naturaleza humana y la vida.
        <br>
        <br>
        A pesar de los desafíos y obstáculos que he enfrentado, sigo adelante con la determinación de encontrar mi lugar en este mundo y hacer lo que considero correcto. Con cada paso, busco no solo mi supervivencia sino también la posibilidad de impactar positivamente en aquellos que me rodean.
        <br>
        <br>
        En resumen, soy Tyrion Lannister, un hombre con una mente aguda y un corazón que busca la redención y la comprensión en un mundo despiadado y lleno de misterios.</p>
  </body>
</html>
