<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tyrion - works</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.jpg">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <a href="/home">Home Page</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="/gallery">Gallery</a>
    </nav>
    <h1>A qué me dedico</h1>
    <p id="paragraph" >
      Como Tyrion Lannister, me dedico a la política y a la diplomacia en los
      Siete Reinos de Westeros. A lo largo de mi vida, he ocupado cargos
      importantes, como la Mano del Rey y la Mano de la Reina, lo que me ha
      permitido influir en la toma de decisiones y en el gobierno del reino.
      <br>
      <br>
        Mi
      inteligencia y astucia son mis principales herramientas para enfrentar los
      desafíos políticos y sobrevivir en un mundo lleno de intrigas y peligros.
      A través de mis habilidades y experiencia, busco encontrar mi lugar y
      hacer lo que considero correcto en un mundo implacable.
    </p>
  </body>
</html>
